Repository infinispan/infinispan-operator, pull requests merged in 2020-03, with the labels that each got.

#307 fixing some doc links
  documentation/asciidoc/stories/assembly_creating_clusters.adoc
  documentation/asciidoc/topics/ref_container_storage.adoc
  documentation/asciidoc/topics/ref_pv.adoc
Labels: documentation

#331 Using correct schema protocol for test with auto TLS #329
  test/e2e/main_test.go
Labels: test

#332 [1.1.x] Using correct schema protocol for test with auto TLS #329
  test/e2e/main_test.go
Labels: test

#318 Check err and validate that issue #312 runs on k8s & ocp
  build/run-tests.sh
  test/e2e/main_test.go
  test/e2e/util/test_kubernetes.go
Labels: test

#311 Cluster with two or more replicas never starts after Spec.Container properties changes
  test/e2e/main_test.go
Labels: Preview
