Repository infinispan/infinispan-operator, pull requests merged in 2021-05, with the labels that each got.

#1002 ISPN-12950 Grafana dashboard does not differentiate between the cache…
  pkg/controller/infinispan/resources/operatorconfig/monitoring_constants.go
Labels: bug

#1025 documentation revision #1024
  documentation/asciidoc/topics/proc_enabling_cloud_events.adoc
  documentation/asciidoc/topics/yaml/cloud_events.yaml
  documentation/asciidoc/topics/yaml/xsite_automatic.yaml
  documentation/asciidoc/topics/yaml/xsite_lon.yaml
  documentation/asciidoc/topics/yaml/xsite_lon_static.yaml
  documentation/asciidoc/topics/yaml/xsite_manual.yaml
  documentation/asciidoc/topics/yaml/xsite_nyc.yaml
  documentation/asciidoc/topics/yaml/xsite_nyc_static.yaml
Labels: documentation, downstream

#1037 Adding k8s ClusterRole for cross-site service account in docs
  documentation/asciidoc/topics/proc_creating_kubernetes_site_secrets.adoc
Labels: documentation

#1036 Documentation change
  documentation/asciidoc/topics/con_creating_caches.adoc
Labels: documentation, downstream

#1047 Unable to run full Backup/Restore test and CLEANUP_INFINISPAN_ON_FINISH disabled
  test/e2e/utils/kubernetes.go
Labels: test

#1056 CleanNamespaceAndLogOnPanic in test should utilize Unstructured type for print yaml structure camelCase
  test/e2e/utils/kubernetes.go
Labels: test

#1063 Unable to run Backup/Restore tests on OCP with EXPOSE_SERVICE_TYPE=Route
  test/e2e/utils/kubernetes.go
Labels: test

#1055 Docs issue #1038 roles for node port with xsite url
  documentation/asciidoc/topics/proc_creating_sa_tokens.adoc
Labels: documentation

#1058 Docs: Add details about native CLI usage
  documentation/asciidoc/topics/proc_connecting_cli.adoc
Labels: documentation

#1052 Docs revision #1051
  documentation/asciidoc/stories/assembly_setting_up_xsite.adoc
  documentation/asciidoc/topics/con_xsite_replication.adoc
  documentation/asciidoc/topics/con_xsite_views_manual.adoc
  documentation/asciidoc/topics/proc_backing_up_cluster.adoc
  documentation/asciidoc/topics/proc_configuring_sites_manually.adoc
  documentation/asciidoc/topics/ref_xsite_resources_automatic.adoc
  documentation/asciidoc/topics/yaml/backup_resources_glob.yaml
  documentation/asciidoc/topics/yaml/xsite_cluster_ip.yaml
  documentation/asciidoc/topics/yaml/xsite_lon.yaml
  documentation/asciidoc/topics/yaml/xsite_lon_static.yaml
  documentation/asciidoc/topics/yaml/xsite_nyc.yaml
  documentation/asciidoc/topics/yaml/xsite_nyc_static.yaml
Labels: documentation, downstream

#1065 Docs revision #1064 client trust store
  documentation/asciidoc/topics/java/ConfigurationBuilderOn.java
  documentation/asciidoc/topics/java/ConfigurationBuilderOutside.java
  documentation/asciidoc/topics/java/RemoteCacheWithXml.java
  documentation/asciidoc/topics/ref_hotrod_properties.adoc
Labels: documentation

#1074 Switch MetalLB images to quay.io and add more diagnostics
  .travis.yml
  build/travis/configure-travis-ci-xsite.sh
Labels: test
