Repository infinispan/infinispan-operator, pull requests merged in 2021-02, with the labels that each got.

#789 ISPN-12532 fix yaml formatting
  documentation/asciidoc/topics/ref_anti_affinity.adoc
  documentation/asciidoc/topics/yaml/affinity_nodes_prefer.yaml
  documentation/asciidoc/topics/yaml/affinity_nodes_require.yaml
  documentation/asciidoc/topics/yaml/affinity_zones_prefer.yaml
  documentation/asciidoc/topics/yaml/affinity_zones_require.yaml
Labels: documentation

#787 Custom label propagation #650
  pkg/apis/infinispan/v1/types_util.go
  pkg/controller/constants/constants.go
  pkg/controller/infinispan/infinispan_controller.go
  pkg/controller/infinispan/resources/service/service_controller.go
  test/e2e/main/main_test.go
Labels: documentation, downstream

#810 Doc for custom labels
  documentation/asciidoc/stories/assembly_creating_services.adoc
  documentation/asciidoc/topics/attributes/links.adoc
  documentation/asciidoc/topics/proc_adding_custom_labels.adoc
  documentation/asciidoc/topics/ref_label_environment_variables.adoc
  documentation/asciidoc/topics/yaml/custom_labels.yaml
  documentation/asciidoc/topics/yaml/publisher_labels.yaml
  documentation/asciidoc/topics/yaml/publisher_labels_downstream.yaml
Labels: documentation, downstream

#820 ISPN-12736 remove productized
  documentation/asciidoc/stories/assembly_automatically_connecting_clusters.adoc
  documentation/asciidoc/stories/assembly_creating_clusters.adoc
  documentation/asciidoc/stories/assembly_installing_operator.adoc
  documentation/asciidoc/stories/assembly_reference.adoc
  documentation/asciidoc/titles/operator.asciidoc
  documentation/asciidoc/topics/attributes/community-attributes.adoc
  documentation/asciidoc/topics/attributes/downstream-attributes.adoc
  documentation/asciidoc/topics/con_xsite_replication.adoc
  documentation/asciidoc/topics/proc_creating_service_monitor.adoc
  documentation/asciidoc/topics/proc_exposing_route.adoc
  documentation/asciidoc/topics/proc_install_olm.adoc
  documentation/asciidoc/topics/ref_label_environment_variables.adoc
  documentation/asciidoc/topics/ref_xsite_crd_automatic.adoc
  documentation/asciidoc/topics/ref_xsite_crd_manual.adoc
Labels: documentation

#832 Utilize CreateOrUpdate for all Infinispan CR's updates in test
  test/e2e/main/main_test.go
  test/e2e/utils/kubernetes.go
Labels: test

#826 [2.0.x] Tests TestContainer<Memory | CPU | JavaOpts>Update could raise "object has been modified" exception
  test/e2e/main/main_test.go
Labels: downstream, test

#833 Allow user to run custom libs #609
  deploy/crds/infinispan.org_infinispans_crd.yaml
  deploy/operator-install.yaml
  pkg/apis/infinispan/v1/infinispan_types.go
  pkg/apis/infinispan/v1/types_util.go
  pkg/apis/infinispan/v1/zz_generated.deepcopy.go
  pkg/controller/infinispan/infinispan_controller.go
Labels: Preview, documentation, downstream

#842 Docs: remove target labels for services
  documentation/asciidoc/stories/assembly_creating_services.adoc
  documentation/asciidoc/topics/proc_adding_custom_labels.adoc
  documentation/asciidoc/topics/ref_label_environment_variables.adoc
  documentation/asciidoc/topics/yaml/custom_labels.yaml
  documentation/asciidoc/topics/yaml/publisher_labels_downstream.yaml
Labels: documentation, downstream
