Repository infinispan/infinispan-operator, pull requests merged in 2021-07, with the labels that each got.

#1165 Documentation revision 1164
  documentation/asciidoc/topics/proc_assigning_user_roles.adoc
  documentation/asciidoc/topics/proc_enabling_client_cert_authn.adoc
  documentation/asciidoc/topics/proc_providing_client_certificates.adoc
  documentation/asciidoc/topics/proc_providing_client_truststores.adoc
  documentation/asciidoc/topics/ref_user_roles_permissions.adoc
  documentation/asciidoc/topics/yaml/cert_auth_certificates.yaml
  documentation/asciidoc/topics/yaml/cert_auth_enabled.yaml
  documentation/asciidoc/topics/yaml/cert_auth_truststores.yaml
  documentation/client_cert.md
Labels: documentation

#1177 [2.1.x] Documentation revision 1164
  documentation/asciidoc/topics/proc_assigning_user_roles.adoc
  documentation/asciidoc/topics/proc_enabling_client_cert_authn.adoc
  documentation/asciidoc/topics/proc_providing_client_certificates.adoc
  documentation/asciidoc/topics/proc_providing_client_truststores.adoc
  documentation/asciidoc/topics/ref_user_roles_permissions.adoc
  documentation/asciidoc/topics/yaml/cert_auth_certificates.yaml
  documentation/asciidoc/topics/yaml/cert_auth_enabled.yaml
  documentation/asciidoc/topics/yaml/cert_auth_truststores.yaml
  documentation/client_cert.md
Labels: backport, documentation

#1178 operator SFS upgrade notes
  documentation/asciidoc/stories/assembly_installing_operator.adoc
  documentation/asciidoc/topics/ref_upgrades.adoc
Labels: documentation

#1172 docs issue #1170 xsite expose node port
  documentation/asciidoc/topics/proc_configuring_sites_automatically.adoc
  documentation/asciidoc/topics/proc_configuring_sites_manually.adoc
  documentation/asciidoc/topics/ref_xsite_resources_automatic.adoc
  documentation/asciidoc/topics/ref_xsite_resources_manual.adoc
  documentation/asciidoc/topics/yaml/xsite_expose_nodeport.yaml
Labels: documentation

#1179 [2.1.x] docs issue #1170 xsite expose node port
  documentation/asciidoc/topics/proc_configuring_sites_automatically.adoc
  documentation/asciidoc/topics/proc_configuring_sites_manually.adoc
  documentation/asciidoc/topics/ref_xsite_resources_automatic.adoc
  documentation/asciidoc/topics/ref_xsite_resources_manual.adoc
  documentation/asciidoc/topics/yaml/xsite_expose_nodeport.yaml
Labels: backport, documentation

#1182 Upgrade notes include downstream
  documentation/asciidoc/stories/assembly_installing_operator.adoc
  documentation/asciidoc/topics/ref_upgrades.adoc
Labels: documentation

#1184 [2.1.x] Upgrade notes include downstream
  documentation/asciidoc/stories/assembly_installing_operator.adoc
  documentation/asciidoc/topics/ref_upgrades.adoc
Labels: documentation

#1189 Docs: issue #1188 client certificate authn
  documentation/asciidoc/stories/assembly_configuring_client_certificates.adoc
  documentation/asciidoc/stories/assembly_connecting_clients.adoc
  documentation/asciidoc/topics/con_client_cert_authn.adoc
  documentation/asciidoc/topics/proc_configuring_client_certs.adoc
  documentation/asciidoc/topics/proc_enabling_client_cert_authn.adoc
  documentation/asciidoc/topics/proc_providing_client_certificates.adoc
  documentation/asciidoc/topics/proc_providing_client_truststores.adoc
  documentation/asciidoc/topics/ref_hotrod_cert_authn.adoc
Labels: documentation

#1191 [2.1.x] issue #1188 client cert docs
  documentation/asciidoc/stories/assembly_configuring_client_certificates.adoc
  documentation/asciidoc/stories/assembly_connecting_clients.adoc
  documentation/asciidoc/topics/con_client_cert_authn.adoc
  documentation/asciidoc/topics/proc_configuring_client_certs.adoc
  documentation/asciidoc/topics/proc_enabling_client_cert_authn.adoc
  documentation/asciidoc/topics/proc_providing_client_certificates.adoc
  documentation/asciidoc/topics/proc_providing_client_truststores.adoc
  documentation/asciidoc/topics/ref_hotrod_cert_authn.adoc
Labels: backport, documentation

#1194 [2.1.x] Exposed port for LoadBalancer services (application and xsite) should be configurable
  deploy/crds/infinispan.org_infinispans_crd.yaml
  deploy/operator-install.yaml
  pkg/apis/infinispan/v1/infinispan_types.go
  pkg/controller/infinispan/resources/service/service_controller.go
  test/e2e/xsite/xsite_test.go
Labels: backport

#1199 [2.1.x] docs for configurable LB service port
  documentation/asciidoc/topics/proc_configuring_sites_automatically.adoc
  documentation/asciidoc/topics/proc_configuring_sites_manually.adoc
  documentation/asciidoc/topics/proc_exposing_loadbalancer.adoc
  documentation/asciidoc/topics/proc_exposing_nodeport.adoc
  documentation/asciidoc/topics/ref_xsite_resources_automatic.adoc
  documentation/asciidoc/topics/ref_xsite_resources_manual.adoc
  documentation/asciidoc/topics/yaml/expose_type_load_balancer.yaml
  documentation/asciidoc/topics/yaml/xsite_lon.yaml
  documentation/asciidoc/topics/yaml/xsite_lon_static.yaml
  documentation/asciidoc/topics/yaml/xsite_manual.yaml
  documentation/asciidoc/topics/yaml/xsite_nyc.yaml
  documentation/asciidoc/topics/yaml/xsite_nyc_static.yaml
Labels: backport, documentation

#1198 docs for configurable LB service port
  documentation/asciidoc/topics/proc_configuring_sites_automatically.adoc
  documentation/asciidoc/topics/proc_configuring_sites_manually.adoc
  documentation/asciidoc/topics/proc_exposing_loadbalancer.adoc
  documentation/asciidoc/topics/proc_exposing_nodeport.adoc
  documentation/asciidoc/topics/ref_xsite_resources_automatic.adoc
  documentation/asciidoc/topics/ref_xsite_resources_manual.adoc
  documentation/asciidoc/topics/yaml/expose_type_load_balancer.yaml
  documentation/asciidoc/topics/yaml/xsite_lon.yaml
  documentation/asciidoc/topics/yaml/xsite_lon_static.yaml
  documentation/asciidoc/topics/yaml/xsite_manual.yaml
  documentation/asciidoc/topics/yaml/xsite_nyc.yaml
  documentation/asciidoc/topics/yaml/xsite_nyc_static.yaml
Labels: documentation
