Repository infinispan/infinispan-operator, pull requests merged in 2021-03, with the labels that each got.

#853 Tests should evaluates for cluster is wellFormed
  test/e2e/main/main_test.go
  test/e2e/multinamespace/multinamespace_test.go
Labels: test

#881 docs #702 clarification for xsite cluster names
  documentation/asciidoc/topics/proc_configuring_sites_automatically.adoc
  documentation/asciidoc/topics/ref_xsite_crd_automatic.adoc
  documentation/asciidoc/topics/yaml/cr_backup_site_automatic.yaml
  documentation/asciidoc/topics/yaml/datagrid_service.yaml
Labels: documentation

#910 revert docs for #702
  documentation/asciidoc/topics/proc_configuring_sites.adoc
  documentation/asciidoc/topics/ref_xsite_crd.adoc
  documentation/asciidoc/topics/yaml/cr_backup_site.yaml
  documentation/asciidoc/topics/yaml/datagrid_service.yaml
Labels: documentation, downstream

#867 Expand operator instance screen information into OLM UI
  deploy/crds/infinispan.org_caches_crd.yaml
  deploy/olm-catalog/infinispan-operator.clusterserviceversion.yaml
  deploy/operator-install.yaml
  pkg/apis/infinispan/v2alpha1/cache_types.go
Labels: documentation

#918 Update OLM description
  deploy/olm-catalog/infinispan-operator.clusterserviceversion.yaml
Labels: documentation, ux

#905 ISPN-12837 batch CR docs
  documentation/asciidoc/stories/assembly_backing_up_restoring.adoc
  documentation/asciidoc/stories/assembly_batch_cr.adoc
  documentation/asciidoc/stories/assembly_cache_cr.adoc
  documentation/asciidoc/stories/assembly_connecting_clients.adoc
  documentation/asciidoc/titles/stories.adoc
  documentation/asciidoc/topics/attributes/community-attributes.adoc
  documentation/asciidoc/topics/attributes/kubectl_cmds.adoc
  documentation/asciidoc/topics/cmd_examples/batch.adoc
  documentation/asciidoc/topics/con_cache_cr.adoc
  documentation/asciidoc/topics/con_caches.adoc
  documentation/asciidoc/topics/con_cli_connections.adoc
  documentation/asciidoc/topics/con_creating_caches.adoc
  documentation/asciidoc/topics/proc_backing_up_cluster.adoc
  documentation/asciidoc/topics/proc_batching_configmap.adoc
  documentation/asciidoc/topics/proc_batching_inline.adoc
  documentation/asciidoc/topics/proc_connecting_cli.adoc
  documentation/asciidoc/topics/proc_creating_caches_batch.adoc
  documentation/asciidoc/topics/proc_creating_caches_cli.adoc
  documentation/asciidoc/topics/proc_restoring_cluster.adoc
  documentation/asciidoc/topics/ref_batch_operations.adoc
  documentation/asciidoc/topics/ref_batch_status.adoc
  documentation/asciidoc/topics/yaml/batch_configmap.yaml
  documentation/asciidoc/topics/yaml/batch_inline.yaml
Labels: documentation, downstream

#856 docs issue #609 custom code
  documentation/asciidoc/stories/assembly_deploying_code.adoc
  documentation/asciidoc/titles/stories.adoc
  documentation/asciidoc/topics/attributes/community-attributes.adoc
  documentation/asciidoc/topics/attributes/downstream-attributes.adoc
  documentation/asciidoc/topics/attributes/kubectl_cmds.adoc
  documentation/asciidoc/topics/attributes/links.adoc
  documentation/asciidoc/topics/proc_copying_code.adoc
  documentation/asciidoc/topics/proc_deploying_code.adoc
  documentation/asciidoc/topics/yaml/custom_code_pod.yaml
  documentation/asciidoc/topics/yaml/custom_code_pvc.yaml
  documentation/asciidoc/topics/yaml/dependencies.yaml
Labels: Needs Rebase, documentation, downstream

#950 issue #943
  documentation/asciidoc/stories/assembly_automatically_connecting_clusters.adoc
  documentation/asciidoc/titles/operator.asciidoc
  documentation/asciidoc/topics/attributes/links.adoc
  documentation/asciidoc/topics/proc_creating_kubernetes_site_secrets.adoc
Labels: documentation
