Repository infinispan/infinispan-operator, pull requests merged in 2021-06, with the labels that each got.

#1096 Authorization docs
  documentation/asciidoc/stories/assembly_authorization.adoc
  documentation/asciidoc/titles/stories.adoc
  documentation/asciidoc/topics/attributes/community-attributes.adoc
  documentation/asciidoc/topics/attributes/kubectl_cmds.adoc
  documentation/asciidoc/topics/proc_adding_custom_roles_permissions.adoc
  documentation/asciidoc/topics/proc_assigning_user_roles.adoc
  documentation/asciidoc/topics/proc_enabling_authorization.adoc
  documentation/asciidoc/topics/ref_user_roles_permissions.adoc
  documentation/asciidoc/topics/yaml/authz_custom_roles.yaml
  documentation/asciidoc/topics/yaml/authz_enable.yaml
  documentation/asciidoc/topics/yaml/identities_authz.yaml
  documentation/authorization.md
Labels: documentation

#1097 doc updates for issue #1090
  documentation/asciidoc/topics/proc_configuring_xsite_within_clusters.adoc
  documentation/asciidoc/topics/yaml/xsite_cluster_ip.yaml
Labels: documentation

#1095 Validate MetalLB and integrate it with Kind docker network on install for xsite test
  .gitignore
  .travis.yml
  build/travis/configure-travis-ci-xsite.sh
  build/travis/test-configuration/metallb-config-xsite.yaml
  build/travis/test-configuration/metallb-config-xsite1.yaml
  kind-config-xsite.yaml
  test/e2e/utils/constants.go
  test/e2e/xsite/xsite_test.go
Labels: test

#1101 Missied deletecollection resources for ingresses and routes
  deploy/olm-catalog/infinispan-operator.clusterserviceversion.yaml
  deploy/operator-install.yaml
  deploy/role.yaml
Labels: Preview

#1099 Docs for client certificate authentication
  documentation/asciidoc/stories/assembly_configuring_client_certificates.adoc
  documentation/asciidoc/titles/stories.adoc
  documentation/asciidoc/topics/java/ConfigurationBuilderClientCertificates.java
  documentation/asciidoc/topics/java/ConfigurationBuilderOn.java
  documentation/asciidoc/topics/java/ConfigurationBuilderOutside.java
  documentation/asciidoc/topics/proc_configuring_client_certs.adoc
  documentation/asciidoc/topics/proc_enabling_client_cert_authn.adoc
  documentation/asciidoc/topics/proc_providing_client_certificates.adoc
  documentation/asciidoc/topics/proc_providing_client_truststores.adoc
  documentation/asciidoc/topics/proc_using_custom_encryption_secrets.adoc
  documentation/asciidoc/topics/yaml/cert_auth_certificates.yaml
  documentation/asciidoc/topics/yaml/cert_auth_enabled.yaml
  documentation/asciidoc/topics/yaml/cert_auth_truststores.yaml
  documentation/asciidoc/topics/yaml/encryption_keystore_secret.yaml
Labels: documentation

#1136 Change Grafana CPU Load to CPU Usage
  pkg/controller/infinispan/resources/operatorconfig/resources/grafana_dashboard.json
  pkg/controller/infinispan/resources/operatorconfig/rice-box.go
Labels: bug, downstream

#1158 Grafana memory filter by cluster
  pkg/controller/infinispan/resources/operatorconfig/resources/grafana_dashboard.json
  pkg/controller/infinispan/resources/operatorconfig/rice-box.go
Labels: bug, downstream
