Repository infinispan/infinispan-operator, pull requests merged in 2022-03, with the labels that each got.

#1450 issue #1449 create cache examples
  documentation/asciidoc/stories/assembly_cache_cr.adoc
  documentation/asciidoc/stories/assembly_configuring_clusters.adoc
  documentation/asciidoc/topics/con_cache_cr.adoc
  documentation/asciidoc/topics/json/infinispan_cache_template.json
  documentation/asciidoc/topics/json/infinispan_caches.json
  documentation/asciidoc/topics/proc_creating_caches.adoc
  documentation/asciidoc/topics/proc_creating_caches_xml.adoc
  documentation/asciidoc/topics/ref_infinispan_config.adoc
  documentation/asciidoc/topics/xml/infinispan_cache_template.xml
  documentation/asciidoc/topics/xml/infinispan_caches.xml
  documentation/asciidoc/topics/yaml/cache_xml.yaml
  documentation/asciidoc/topics/yaml/cache_yaml.yaml
  documentation/asciidoc/topics/yaml/infinispan_cache_template.yaml
  documentation/asciidoc/topics/yaml/infinispan_caches.yaml
Labels: documentation, Needs Rebase

#1468 [2.2.x] Make internal admin service headless #1464
  controllers/hotrod_upgrade_controller.go
  controllers/infinispan_service_controller.go
Labels: backport

#1469 docs #747 reconciliation
  documentation/asciidoc/stories/assembly_installing_operator.adoc
  documentation/asciidoc/stories/assembly_operator_deployments.adoc
  documentation/asciidoc/titles/operator.asciidoc
  documentation/asciidoc/titles/stories.adoc
  documentation/asciidoc/topics/con_operator_deployments.adoc
  documentation/asciidoc/topics/ref_datagrid_service_resources.adoc
  documentation/asciidoc/topics/yaml/datagrid_service.yaml
Labels: documentation

#1475 [2.2.x] Operator Version is always undefined #1472
  Dockerfile
  Makefile
  launcher/listener/listener.go
  launcher/operator/operator.go
  launcher/version.go
Labels: backport

#1486 Templates fatal error on concurrent map writes #1485
  pkg/infinispan/configuration/server/configuration.go
  pkg/templates/templates.go
Labels: bug

#1488 docs cross-site route #1312
  documentation/asciidoc/topics/con_cross_site_expose_types.adoc
  documentation/asciidoc/topics/proc_configuring_sites_automatically.adoc
  documentation/asciidoc/topics/proc_configuring_sites_manually.adoc
  documentation/asciidoc/topics/proc_exposing_route.adoc
  documentation/asciidoc/topics/proc_securing_cross_site_connections.adoc
  documentation/asciidoc/topics/ref_cross_site_resources.adoc
Labels: documentation

#1497 remove quickstart link issue #1489
  config/manifests/bases/infinispan-operator.clusterserviceversion.yaml
Labels: documentation, backport

#1496 docs cross-site route #1312
  documentation/asciidoc/topics/con_cross_site_expose_types.adoc
  documentation/asciidoc/topics/proc_configuring_sites_automatically.adoc
  documentation/asciidoc/topics/proc_configuring_sites_manually.adoc
  documentation/asciidoc/topics/proc_exposing_route.adoc
  documentation/asciidoc/topics/proc_securing_cross_site_connections.adoc
  documentation/asciidoc/topics/ref_cross_site_resources.adoc
Labels: documentation, backport
