Repository infinispan/infinispan-operator, pull requests merged in 2022-04, with the labels that each got.

#1513 [2.2.x] Config listener fixes
  controllers/cache_controller.go
  controllers/config_listener.go
  launcher/listener/listener.go
  pkg/kubernetes/k8sutil.go
  test/e2e/cache/cache_test.go
  test/e2e/utils/kubernetes.go
Labels: backport

#1510 Docs revision: Update details in client connection / intelligence
  documentation/asciidoc/stories/assembly_connecting_clients.adoc
  documentation/asciidoc/stories/assembly_eventing.adoc
  documentation/asciidoc/stories/assembly_upgrading_clusters.adoc
  documentation/asciidoc/topics/con_client_connection_details.adoc
  documentation/asciidoc/topics/con_hotrod_clients.adoc
  documentation/asciidoc/topics/java/ConfigurationBuilderExternal.java
  documentation/asciidoc/topics/java/ConfigurationBuilderInternal.java
  documentation/asciidoc/topics/proc_connecting_console.adoc
  documentation/asciidoc/topics/proc_connecting_rest.adoc
  documentation/asciidoc/topics/proc_getting_internal_service.adoc
  documentation/asciidoc/topics/properties/hotrod-client-external.properties
  documentation/asciidoc/topics/properties/hotrod-client-internal.properties
  documentation/asciidoc/topics/ref_hotrod_configuration.adoc
  documentation/asciidoc/topics/ref_hotrod_configuration_builder.adoc
  documentation/asciidoc/topics/ref_hotrod_properties.adoc
  documentation/asciidoc/topics/ref_network_services.adoc
  documentation/asciidoc/topics/yaml/metadata_name.yaml
Labels: documentation

#1526 doc updates for bidirectional reconciliation
  documentation/asciidoc/stories/assembly_cache_cr.adoc
  documentation/asciidoc/topics/con_cache_cr.adoc
  documentation/asciidoc/topics/con_caches.adoc
  documentation/asciidoc/topics/con_operator_reconciliation.adoc
  documentation/asciidoc/topics/proc_creating_caches_templates.adoc
  documentation/asciidoc/topics/proc_exposing_loadbalancer.adoc
  documentation/asciidoc/topics/proc_exposing_nodeport.adoc
  documentation/asciidoc/topics/proc_exposing_route.adoc
  documentation/asciidoc/topics/proc_getting_internal_service.adoc
  documentation/asciidoc/topics/ref_datagrid_service_resources.adoc
  documentation/asciidoc/topics/ref_network_services.adoc
  documentation/asciidoc/topics/yaml/datagrid_service.yaml
Labels: documentation

#1492 Fix Openshift TestNodeWithStorageClass failures
  test/e2e/infinispan/storage_test.go
Labels: changes required, test

#1495 [2.2.x] Fix Openshift TestNodeWithStorageClass failures
  test/e2e/infinispan/storage_test.go
Labels: test, backport

#1535 Add TestUserCustomConfigRemove Test
  test/e2e/infinispan/custom_configuration_test.go
Labels: test
