Repository infinispan/infinispan-operator, pull requests merged in 2022-07, with the labels that each got.

#1604 Hot Rod upgrades cause unnecessary StatefulSet Rolling Upgrade #1603
  pkg/reconcile/pipeline/infinispan/handler/manage/hotrod_upgrades.go
  pkg/reconcile/pipeline/infinispan/handler/manage/statefulset_updates.go
Labels: bug

#1592 ISPN-13982: Expand content on setting BASIC intelligence for cluster topology
  documentation/asciidoc/topics/con_hotrod_clients.adoc
Labels: documentation

#1589 fixes issue #1572 config examples
  .github/workflows/sync_docs_with_ispn.yaml
  documentation/asciidoc/topics/json/infinispan_cache_template.json
  documentation/asciidoc/topics/proc_applying_custom_configuration.adoc
  documentation/asciidoc/topics/ref_infinispan_config.adoc
  documentation/asciidoc/topics/sync/json/cache_template_inheritance.json
  documentation/asciidoc/topics/sync/xml/cache_template_inheritance.xml
  documentation/asciidoc/topics/sync/yaml/cache_template_inheritance.yaml
  documentation/asciidoc/topics/xml/infinispan_cache_template.xml
  documentation/asciidoc/topics/yaml/config_map_cache_json.yaml
  documentation/asciidoc/topics/yaml/config_map_cache_xml.yaml
  documentation/asciidoc/topics/yaml/config_map_cache_yaml.yaml
  documentation/asciidoc/topics/yaml/infinispan_cache_template.yaml
Labels: documentation

#1617 ISPN-13982-2.2: Expand content on setting BASIC intelligence for cluster topology
  documentation/asciidoc/topics/con_hotrod_clients.adoc
Labels: documentation, backport
