Repository infinispan/infinispan-operator, pull requests merged in 2022-02, with the labels that each got.

#1376 Do not panic on test failure
  test/e2e/backup-restore/backup_restore_test.go
  test/e2e/batch/batch_helper.go
  test/e2e/batch/batch_test.go
  test/e2e/cache/cache_test.go
  test/e2e/hotrod-rolling-upgrade/hotrod_rolling_upgrade_test.go
  test/e2e/main/main_test.go
  test/e2e/upgrade/upgrade_test.go
  test/e2e/utils/common.go
  test/e2e/utils/kubernetes.go
  test/e2e/xsite/xsite_test.go
Labels: changes required

#1378 ISPN-13673 operator deployment diagrams
  documentation/asciidoc/stories/assembly_installing_operator.adoc
  documentation/asciidoc/titles/operator.asciidoc
  documentation/asciidoc/topics/con_infinispan_cr.adoc
  documentation/asciidoc/topics/con_operator_deployments.adoc
  documentation/asciidoc/topics/images/custom-resources.png
  documentation/asciidoc/topics/images/operator-managed-clusters.png
Labels: documentation

#1379 ISPN-13673 community diagrams
  documentation/asciidoc/stories/assembly_installing_operator.adoc
  documentation/asciidoc/topics/attributes/community-attributes.adoc
  documentation/asciidoc/topics/con_operator_deployments.adoc
  documentation/asciidoc/topics/images/custom-resources-ispn.png
  documentation/asciidoc/topics/images/operator-managed-clusters-ispn.png
Labels: documentation

#1383 [2.2.x] Utilise Operatorhub sqlite catalog image
  Makefile
  scripts/ci/install-catalog-source.sh
Labels: backport

#1406 [2.2.x] CPU and MEM request docs #1367
  documentation/asciidoc/stories/assembly_creating_services.adoc
  documentation/asciidoc/topics/proc_allocating_cpu_memory.adoc
  documentation/asciidoc/topics/proc_setting_jvm_options.adoc
  documentation/asciidoc/topics/ref_container_resources.adoc
  documentation/asciidoc/topics/yaml/container_extra_jvm_opts.yaml
  documentation/asciidoc/topics/yaml/container_resources.yaml
Labels: backport

#1411 docs for #1395
  documentation/asciidoc/topics/proc_allocating_cpu_memory.adoc
Labels: documentation

#1412 [2.2.x] docs for #1395
  documentation/asciidoc/topics/proc_allocating_cpu_memory.adoc
Labels: documentation, backport

#1419 #1367 update service yaml
  documentation/asciidoc/topics/yaml/cache_service.yaml
  documentation/asciidoc/topics/yaml/datagrid_service.yaml
Labels: documentation
