Repository infinispan/infinispan-operator, pull requests merged in 2022-08, with the labels that each got.

#1659 Allow Gossip Router JVM options to be specified via Infinispan CR #1658
  api/v1/infinispan_types.go
  config/crd/bases/infinispan.org_backups.yaml
  config/crd/bases/infinispan.org_infinispans.yaml
  config/crd/bases/infinispan.org_restores.yaml
  pkg/reconcile/pipeline/infinispan/handler/provision/gossiprouter.go
Labels: Preview

#1660 [2.2.x] Allow Gossip Router JVM options to be specified via Infinispan CR #1658
  api/v1/infinispan_types.go
  config/crd/bases/infinispan.org_backups.yaml
  config/crd/bases/infinispan.org_infinispans.yaml
  config/crd/bases/infinispan.org_restores.yaml
  controllers/xsite.go
Labels: Preview

#1661 1657#/cli_jvm_options
  documentation/asciidoc/topics/proc_setting_jvm_options.adoc
  documentation/asciidoc/topics/yaml/container_extra_jvm_opts.yaml
Labels: documentation

#1662 1657#/cli_jvm_options docs updates for setting jvm options
  documentation/asciidoc/topics/proc_setting_jvm_options.adoc
  documentation/asciidoc/topics/yaml/container_extra_jvm_opts.yaml
Labels: documentation, backport

#1664 docs-fips-#1663: Document disabling FIPS mode in CR
  documentation/asciidoc/stories/assembly_creating_services.adoc
  documentation/asciidoc/topics/proc_disabling_fips_mode_cr.adoc
  documentation/asciidoc/topics/yaml/disable_fips_cr.yaml
Labels: documentation
