Repository infinispan/infinispan-operator, pull requests merged in 2024-01, with the labels that each got.

#1964 Updated instructions to wait for Batch CR to complete
  documentation/asciidoc/topics/proc_batching_configmap.adoc
  documentation/asciidoc/topics/proc_batching_inline.adoc
Labels: documentation, 2.3.x

#1967 Update cross-site service account documentation to OCP4
  Makefile
  documentation/asciidoc/stories/assembly_cross_site_replication.adoc
  documentation/asciidoc/topics/attributes/links.adoc
  documentation/asciidoc/topics/proc_creating_sa_tokens_ocp.adoc
  documentation/asciidoc/topics/proc_exchanging_bound_service_account_tokens.adoc
  documentation/asciidoc/topics/proc_exchanging_sa_tokens.adoc
  documentation/asciidoc/topics/proc_exchanging_service_account_tokens.adoc
  documentation/asciidoc/topics/yaml/xsite_sa_token.yaml
Labels: changes required, documentation, 2.3.x

#1978 Specify TZ environment variable in POSIX format
  documentation/asciidoc/topics/yaml/env_var_timezone.yaml
Labels: documentation, needs-ok-to-test, 2.3.x
